<div>
          <h1>General Ledger Chart of Accounts</h1>
        </div>
<table>
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Name</th>
              <th>Account Type</th>
              <th>Description</th>
            </tr>
<tr>
             <td>1</td>
             <td>1</td>
             <td>Activos</td>
             <td>1</td>
             <td>Valores disponibles,activos de la empresa</td>
          </tr>
<tr>
             <td>2</td>
             <td>1000</td>
             <td>Activos Corrientes</td>
             <td>1</td>
             <td>Valores disponibles,activos de la empresa</td>
          </tr>
<tr>
             <td>3</td>
             <td>1010</td>
             <td>Caja</td>
             <td>1</td>
             <td>Dinero en caja</td>
          </tr>
<tr>
             <td>4</td>
             <td>1011</td>
             <td>Caja Chica</td>
             <td>1</td>
             <td>Dinero en caja chica</td>
          </tr>
<tr>
             <td>5</td>
             <td>1020</td>
             <td>Bancos</td>
             <td>1</td>
             <td>Cuentas de Bancos</td>
          </tr>
<tr>
             <td>6</td>
             <td>1021</td>
             <td>Banco Bolivariano</td>
             <td>1</td>
             <td>Cta  cte de Banco No. 023456</td>
          </tr>
<tr>
             <td>7</td>
             <td>1022</td>
             <td>Banco Bolivariano</td>
             <td>1</td>
             <td>Cta de Ahorro No. 023456</td>
          </tr>
<tr>
             <td>11</td>
             <td>1200</td>
             <td>Cuentas por Cobrar</td>
             <td>1</td>
             <td>Cuentas por cobrar</td>
          </tr>
<tr>
             <td>8</td>
             <td>1400</td>
             <td>Inventario</td>
             <td>1</td>
             <td>Inventarios de productos y servicios</td>
          </tr>
<tr>
             <td>9</td>
             <td>1410</td>
             <td>Inventario Membresías</td>
             <td>1</td>
             <td>Inventario de membresías</td>
          </tr>
<tr>
             <td>10</td>
             <td>1420</td>
             <td>Inventario de Productos</td>
             <td>1</td>
             <td>Inventario de productos</td>
          </tr>
<tr>
             <td>12</td>
             <td>1500</td>
             <td>Activos No Corrientes</td>
             <td>1</td>
             <td>Activos No realizables de inmediato</td>
          </tr>
<tr>
             <td>13</td>
             <td>1510</td>
             <td>Anticipos</td>
             <td>1</td>
             <td>Anticipos y depósitos pagados por anticipado</td>
          </tr>
<tr>
             <td>14</td>
             <td>1520</td>
             <td>Equipos y Maquinarias</td>
             <td>1</td>
             <td>Equipos para la operación</td>
          </tr>
<tr>
             <td>15</td>
             <td>1540</td>
             <td>Instalaciones</td>
             <td>1</td>
             <td>Instalaciones y adecuaciones</td>
          </tr>
<tr>
             <td>16</td>
             <td>2</td>
             <td>Pasivos Corrientes</td>
             <td>2</td>
             <td>Valores que se deben</td>
          </tr>
<tr>
             <td>17</td>
             <td>2000</td>
             <td>Pasivos Corrientes</td>
             <td>2</td>
             <td>Valores que se deben</td>
          </tr>
<tr>
             <td>18</td>
             <td>2100</td>
             <td>Cuentas por Pagar</td>
             <td>2</td>
             <td>Valores que se deben pagar en el corto plazo</td>
          </tr>
<tr>
             <td>19</td>
             <td>2101</td>
             <td>Beneficios Empleados</td>
             <td>2</td>
             <td>Valores que se deben a empleados</td>
          </tr>
<tr>
             <td>20</td>
             <td>2102</td>
             <td>Seguridad Social</td>
             <td>2</td>
             <td>Valores que se debe al seguro social</td>
          </tr>
<tr>
             <td>21</td>
             <td>3</td>
             <td>Capital </td>
             <td>3</td>
             <td>Valores para iniciar el negocio</td>
          </tr>
<tr>
             <td>22</td>
             <td>3000</td>
             <td>Capital Social </td>
             <td>3</td>
             <td>Cuentas de Capital Social</td>
          </tr>
<tr>
             <td>23</td>
             <td>3010</td>
             <td>Aportes de Accionistas </td>
             <td>3</td>
             <td>Cuentas de aporte de socios</td>
          </tr>
<tr>
             <td>24</td>
             <td>3020</td>
             <td>Contra Capital </td>
             <td>3</td>
             <td>Deuda de socios de capital </td>
          </tr>
<tr>
             <td>25</td>
             <td>3030</td>
             <td>Utilidades Retenidas</td>
             <td>3</td>
             <td>Utilidades retenidas para reinversión</td>
          </tr>
<tr>
             <td>26</td>
             <td>4</td>
             <td>Ingresos</td>
             <td>4</td>
             <td>Ingresos</td>
          </tr>
<tr>
             <td>27</td>
             <td>4000</td>
             <td>Ingresos Varios</td>
             <td>4</td>
             <td>Ingresos</td>
          </tr>
<tr>
             <td>28</td>
             <td>4010</td>
             <td>Venta de Membresías</td>
             <td>4</td>
             <td>Ingresos obtenidos de las ventas de membresía</td>
          </tr>
<tr>
             <td>29</td>
             <td>4020</td>
             <td>Venta de Servicios</td>
             <td>4</td>
             <td>Venta de servicios</td>
          </tr>
<tr>
             <td>30</td>
             <td>4030</td>
             <td>Ingresos por Publicidad</td>
             <td>4</td>
             <td>Venta de publicidad</td>
          </tr>
<tr>
             <td>31</td>
             <td>5</td>
             <td>Gastos</td>
             <td>5</td>
             <td>Gastos Operacionales</td>
          </tr>
<tr>
             <td>32</td>
             <td>5000</td>
             <td>Gastos de Operación</td>
             <td>5</td>
             <td>Gastos Operacionales</td>
          </tr>
<tr>
             <td>33</td>
             <td>5005</td>
             <td>Comisiones por Ventas</td>
             <td>5</td>
             <td>Comisiones pagadas</td>
          </tr>
<tr>
             <td>34</td>
             <td>5010</td>
             <td>Promoción de Ventas</td>
             <td>5</td>
             <td>Costo de promociones</td>
          </tr>
<tr>
             <td>35</td>
             <td>5020</td>
             <td>Publicidad</td>
             <td>5</td>
             <td>Costo de publicidad</td>
          </tr>
<tr>
             <td>36</td>
             <td>5040</td>
             <td>Gasto de Mercadeo</td>
             <td>5</td>
             <td>Costo de marketing</td>
          </tr>
<tr>
             <td>37</td>
             <td>5200</td>
             <td>Rol de Pagos</td>
             <td>5</td>
             <td>Pagos de roles</td>
          </tr>
<tr>
             <td>38</td>
             <td>5210</td>
             <td>Labores Contratadas</td>
             <td>5</td>
             <td>Labores externas contratadas</td>
          </tr>
<tr>
             <td>39</td>
             <td>5280</td>
             <td>Alquiler</td>
             <td>5</td>
             <td>Alquiler</td>
          </tr>
<tr>
             <td>40</td>
             <td>5281</td>
             <td>Pago Alícuota</td>
             <td>5</td>
             <td>Alquiler</td>
          </tr>
<tr>
             <td>41</td>
             <td>5300</td>
             <td>Empresas de Servicios</td>
             <td>5</td>
             <td>Costo de servicios elec. tel y agua</td>
          </tr>
<tr>
             <td>42</td>
             <td>5310</td>
             <td>Gasto de Agua</td>
             <td>5</td>
             <td>Costo de servicios  agua</td>
          </tr>
<tr>
             <td>43</td>
             <td>5320</td>
             <td>Gasto de Electricidad</td>
             <td>5</td>
             <td>Costo de servicios  energía eléctrica</td>
          </tr>
<tr>
             <td>44</td>
             <td>5390</td>
             <td>Servicios Profesionales</td>
             <td>5</td>
             <td>Servicios profesionales</td>
          </tr>
</table>
