<h4>Balance de Ingresos vs Gastos </h4>
      <table>
      <th><h5>Créditos</h5></th>
<tr>
          <td> Activos Corrientes </td>
          <td> 65.0</td>
      </tr>
<tr>
          <td> Caja Chica </td>
          <td> 100.0</td>
      </tr>
<tr>
          <td> Banco Bolivariano </td>
          <td> 80.0</td>
      </tr>
<th><h5>Débitos</h5></th>
<tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> Activos</td>
          <td> 65.0</td>
        </tr>
<tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> Caja</td>
          <td> 100.0</td>
        </tr>
<tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> Bancos</td>
          <td> 80.0</td>
        </tr>
<tr>
        <td>Total Crédito</td>
        <td>245.0</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Débito</td>
        <td></td>
        <td>245.0</td>
        </tr>
        <tr>
        <td>Balance   =</td>
        <td>0.0</td>
        </tr>
</table>
<br><p>Crédito = 245.0 - Débito = 245.0 = Balance = 0.0</p>
