<h4>Balance de Ingresos vs Gastos </h4>
      <table>
      <th><h5>Créditos</h5></th>
<th><h5>Débitos</h5></th>
<tr>
        <td>Total Crédito</td>
        <td>0.0</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Débito</td>
        <td></td>
        <td>0.0</td>
        </tr>
        <tr>
        <td>Balance   =</td>
        <td>0.0</td>
        </tr>
</table>
<br><p>Crédito = 0.0 - Débito = 0.0 = Balance = 0.0</p>
